[user]
	name  = Wataru.Kasahara
	email = kasahara1019@gmail.com
	# 1Password を使って署名できるようにする
	# signingkey =
[color]
	ui     = true
	status = true
[core]
	editor       = vim
	excludesfile = ~/.gitignore_global
	# have need to installing https://github.com/dandavison/delta
  pager  = delta
[push]
	default = nothing
[grep]
	lineNumber = true
[help]
	autocorrect = 1
[merge]
	ff = false
[pull]
	ff = only
[alias]
	overwrite = push --force-with-lease --force-if-includes
	st        = status
	ss        = status -s
	diffc     = diff --color-words
	diffw     = diff --ignore-all-space --ignore-blank-lines
	grep      = grep -n
	log1      = log --oneline
	logs      = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
	logf      = log --format=format:'%C(red)%h %C(yellow)[%ai] %C(blue)<%an> %C(green)%s %C(yellow)(%ar)'
	history   = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	# have need to installing peco/peco
	sw        = !git switch $(git branch | peco)
	del       = !git branch -D $(git branch | peco)
# have need to installing https://github.com/dandavison/delta
[delta]
		plus-color   = "#012800"
		minus-color  = "#340001"
		minus-style  = red bold ul "#ffeeee"
		syntax-theme = Monokai Extended
		line-numbers = true
		side-by-side = true
[interactive]
		diffFilter = delta --color-only
# 1Password を使ったコミット署名の設定
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
